* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Playfair Display';
}
body {
	font-family: Roboto;
}
.bg-image {
  background-image: url(https://picsum.photos/id/26/1500/300/);
  background-size: cover;
}
footer {
  height: 100px;
}

/* #primera-foto {
  background-image: url("https://picsum.photos/id/1/500/400");
  background-size: cover;
  height: 100%;
  width: 50%;
}

#segunda-foto {
  background-image: url("https://picsum.photos/id/16/500/400");
  background-size: cover;
  height: 100%;
  width: 50%;
} */

